html, body {
  overscroll-behavior: none;
}
#inputContainer{
  position: fixed;
  width: 25%;
  aspect-ratio: 4/1;
  bottom: 40px;
  border-radius: 1rem;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(133, 189, 239);
   min-width: 250px;      /* don’t get too small on phones */
  max-width: 600px;      /* don’t get too huge on desktops */
    display: flex;
  justify-content: center;
  align-items: center;
}
#inputContainer input{
  border-radius: 1rem;
  border-style: none;
  width: 80%;
    outline: none;    
     box-sizing: border-box;

  height:50%;
  font-size: clamp(0.8rem,150%,2rem);
  text-align: center;
  
}
*{
    font-family:"dosis";

}
.btn{
  text-align: center;
  align-content: center;

  border-radius: 1rem;
  color:rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
  width: 5%;
  position: relative;
  margin: 5px;
  margin-left:95%;
  aspect-ratio: 1/1;
  background-color: rgb(131, 131, 131);
}
#settingContainer{
  position: absolute;
 width: 100%;
}

#title{
  position: absolute;
  margin-left: 2%;
  color: aliceblue;
}
#input-main-submit-btn{
  text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;  
  height:10%;
  color: white;
  aspect-ratio: 2/1;
  background-color: rgb(6, 170, 6);
  padding: 5%;
  border-radius: 20px;

}
#input-main-submit-btn:hover{
  background-color: rgb(3, 119, 3);
}
#overlay{
  transition: all 1s;
  top: 0%;
  position:  absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(43, 43, 43);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;

}

#start{
  margin: 1%;
  height: 40%;
  font-size: 50%;
  border-radius: 10px;
  background-color: rgb(1, 177, 1);
  display: flex;
  color:white;
   justify-content: center;
  align-items: center;
  transition: all 0.15s;
  border-style: solid;
  cursor: pointer;
}
#start:hover{
  transform: rotate(2deg)scale(1.1);
    background-color: rgb(1, 141, 1);



}

#container{
  color: white;
    display: grid;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;

}
